<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>SoftUni Beers</title>
    <link rel="stylesheet" href="../../scripts/style.css"/>
    <link rel="stylesheet" href="../../scripts/form.css"/>
</head>
<body>
<nav>
    <div class="topNav">
        <a href="../main/index.html" class="logo"><img src="../../images/logo.png"></a>
        <a href="../main/index.html" class="active">Home</a>
        <a href="../main/allBeers.html">See All Beers</a>
        <a href="../main/order.html">Order a Beer</a>

        <a href="../main/login.html" class="right">Log In</a>
        <a href="../main/register.html" class="right">Register</a>
    </div>
</nav>

<main>

</main>

<footer>
    <hr/>
    <p><em>&copy; 2017 &ndash; SoftUni Beers</em></p>
</footer>
</body>
</html>
