<th:block th:fragment="header">
    <nav>
        <ul class="menu">
            <li><a href="#">Home</a></li>
            <li><a href="/mountains">Mountains</a></li>
            <li><a href="#">Peaks</a></li>
            <li><a href="#">Routes</a></li>
            <li><a href="#">Blog</a></li>
            <li><a href="#">Elements</a></li>
            <li><a href="#">Contact</a></li>
        </ul>
        <ul class="user">
            <li><a href="#">Log In</a></li>
            <li><a href="/mountains">Sign Up</a></li>
        </ul>
    </nav>
</th:block>