main {
    text-align: center;
}

#button{
    background-color: limegreen;
    color: white;
    border-radius: 1em;
    padding: 1em 2em 1em 2em;
    border: none;
    cursor: pointer;
}

#button:hover{
    color: black;
    background-color: aliceblue;
}

